.bg-custom {
  background-color: #2a2c7f;
}

.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6 {
  font-weight: 500 !important;
}

/* head line section */

#headline {
  background-color: transparent;
  background: url("https://res.cloudinary.com/dfshihuf9/image/upload/v1696309367/be-practical/ds-web/czrvvfnduo37f82hkkvt.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  background-color: #6a5acd;
}

/* about section */
#about {
  height: 100%;
  width: 100%;
  padding: 40px;
}

#about #abt-img {
  position: relative;
}

#about .abt2 {
  position: absolute;
  left: -50px;
  top: -50px;
}

#action {
  height: 60vh;
  background: url("https://res.cloudinary.com/dfshihuf9/image/upload/v1696309367/be-practical/ds-web/ipa84h3ozcjgsxukojg4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 30px;
  text-align: center;
}

#action #action-content {
  letter-spacing: 4px;
}

.circle {
  height: 5rem;
  width: 5rem;
  background-color: #6a5acd;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  color: #fff;
  border-radius: 50%;
}

.circle strong {
  font-size: 3em;
}

.circle div sup {
  font-size: 1.2em;
}

/* schedule */
#schedule,
#faq {
  background-image: url("https://res.cloudinary.com/dfshihuf9/image/upload/v1696309348/be-practical/ds-web/ojxyb8hp2sneqk4tfjeh.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 30px;
}

#schedule .card {
  height: 100%;
}

#schedule .card img.card-img-top {
  height: 300px;
  object-fit: cover;
  object-position: center;
}

/* register form section */

#register {
  background-image: url("https://res.cloudinary.com/dfshihuf9/image/upload/v1696309367/be-practical/ds-web/ipa84h3ozcjgsxukojg4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 30px;
}

/*  register */
#register form input {
  padding: 14px;
}

/* faq section */

#faq .accordion-item {
  background-color: transparent;
}

#faq .accordion-button {
  cursor: pointer;
  background-color: transparent;
}

#footer {
  height: 100%;
  background: url("https://res.cloudinary.com/dfshihuf9/image/upload/v1696309367/be-practical/ds-web/ipa84h3ozcjgsxukojg4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  #about #abt-img {
    position: relative;
    width: 100%;
  }

  #about .abt2 {
    display: none;
  }

  .circle {
    width: 3rem;
    height: 3rem;
  }

  .circle strong {
    font-size: 1.1em;
  }

  .circle div sup {
    font-size: 0.8em;
  }
}
